In [2]:
#Sum of two numbers
def add(a,b):
    return a+b

In [5]:
addition = add(5,3)
addition

8

In [7]:
y = lambda a, b : a+b

In [8]:
y

In [9]:
type(y)

function

In [ ]:
addition = lambda a, b : a+b
addition (5,3)
addition (5.0,9.0)

NameError: name 'a' is not defined

In [ ]:
#Lambda with one argument
#square of a number
sqr = lambda x: x**2
sqr(9)

81

In [ ]:
#modulus of a number
mod = lambda c:c%2
mod(27)

1

In [ ]:
#Floor division
floor = lambda x:x//3
floor (53)

17

In [23]:
floor1 = lambda x:x//5
floor1 (53)

10

In [ ]:
#Lambda with multiple arguments
Area = lambda length, breadth: length*breadth
Area(3,9)

27

In [25]:
Volume = lambda x,y,z: x*y*z
Volume(3,6,9)

162

In [27]:
Perimeter = lambda a,b:2*a+2*b
Perimeter(4,9)

26

In [32]:
# Conditions with lambda 
even_n = lambda x: "even" if x%2 ==0 else "odd"
even_n (91)

'odd'

In [34]:
to_upper = lambda s:s.upper()
to_upper("abani")

'ABANI'

In [35]:
to_lower = lambda s:s.lower()
to_lower("ABANI")

'abani'

In [38]:
def reversed_string(s):
    return s[::-1]
reversed_string("abani bhushan prasad")

'dasarp nahsuhb inaba'

In [39]:
reversed_string = lambda s : s[::-1]
reversed_string("abani bhushan prasad")

'dasarp nahsuhb inaba'

In [ ]:
#use lambda function with sequence datatype:List
cel =[10,20,30,40,50]
far =  list(map(lambda c : c*9/5+32,cel))
far

In [44]:
type(far)

map

In [ ]:
#use lambda function with sequence datatype:tuple
cel =(10,20,30,40,50)
far =  tuple(map(lambda c : c*9/5+32,cel))
far

(50.0, 68.0, 86.0, 104.0, 122.0)

In [47]:
type(far)

tuple

In [49]:
# square all numbers in the list
a = [3,4,7,2,9]
Sqr_a = list(map(lambda c: c**2,a))

In [50]:
Sqr_a

[9, 16, 49, 4, 81]

In [1]:
name = ['abani','bhushan','prasad']
upper_name = list(map(lambda x:x.upper(),name))

In [2]:
upper_name

['ABANI', 'BHUSHAN', 'PRASAD']

In [55]:
# Filter
#syntax:filter(function,iterable)
#find the even
no = [1,2,3,4,5,6]
even = list(filter(lambda x : x%2 ==0,no))
even

[2, 4, 6]

In [57]:
#syntax:filter(function,iterable)
#find the odd
no = [1,2,3,4,5,6]
odd = list(filter(lambda x : x % 2 !=0,no))
odd

[1, 3, 5]

In [62]:
#filter strings based on lenght more than 4
words = ["Data","science","AI","ML","Machind"]

string_4 =list(filter (lambda s : len(s)>4,words) )
string_4

['science', 'Machind']

In [63]:
#filter strings based on lenght less than 4
words = ["Data","science","AI","ML","Machind"]

string_4 =list(filter (lambda s : len(s)<4,words) )
string_4

['AI', 'ML']

In [64]:
#filter negative number from the list
no = [-9,3,-4,5,-8,4]
result = list(filter(lambda x : x<0,no))
result

[-9, -4, -8]

In [65]:
#filter positive number from the list
no = [-9,3,-4,5,-8,4]
result = list(filter(lambda x : x>0,no))
result

[3, 5, 4]

In [7]:
# give the score greater than 40
students = [
    {"name":"A","marks": 85},
    {"name":"B","marks" : 30},
    {"name":"c","marks" : 90}
]
students

[{'name': 'A', 'marks': 85},
 {'name': 'B', 'marks': 30},
 {'name': 'c', 'marks': 90}]

In [83]:
std = list(filter(lambda x :x["marks"]>40,students))
std

[{'name': 'A', 'marks': 85}, {'name': 'c', 'marks': 90}]

In [85]:
std = list(filter(lambda x :x["marks"]<40,students))
std

[{'name': 'B', 'marks': 30}]

In [11]:
###mutable argument as default argument is not good
def add_to_list(item, my_list = []):
    my_list.append(item)
    return my_list

In [12]:
list1 = add_to_list(1)
list1

[1]

In [13]:
list2 = add_to_list(2)
list2

[1, 2]

In [15]:
list5 = add_to_list(5)
list5

[1, 2, 5]

In [17]:
## sorted(iterable, key)
num = [10,-5,2,-3]
sorted_numbers = sorted(num, key = lambda x: abs(x))

In [19]:
sorted_numbers

[2, -3, -5, 10]

In [20]:
sorted(num)

[-5, -3, 2, 10]

In [95]:
students = [("Rani",78),("Neha",22),("Abani",44),("Baba",98)]

In [96]:
print(sorted(students))

[('Abani', 44), ('Baba', 98), ('Neha', 22), ('Rani', 78)]

In [98]:
sorted_students = sorted(students,key = lambda x:x[0])

In [97]:
sorted_students

[('Abani', 44, 'Patna'),
 ('Rani', 78, 'Hyderabad'),
 ('Baba', 98, 'Bhopal'),
 ('Neha', 22, 'Ahm')]

In [87]:
sorted_students = sorted(students,key = lambda x:x[1],reverse=True)
sorted_students

[('Baba', 98), ('Rani', 78), ('abani', 44), ('Neha', 22)]

In [91]:
students = [("Rani",78,"Hyderabad"),("Neha",22,"Ahm"),("Abani",44,"Patna"),("Baba",98,"Bhopal")]

In [92]:
sorted(students)

[('Abani', 44, 'Patna'),
 ('Baba', 98, 'Bhopal'),
 ('Neha', 22, 'Ahm'),
 ('Rani', 78, 'Hyderabad')]

In [93]:
sorted_students = sorted(students,key = lambda x:x[2])
sorted_students

[('Neha', 22, 'Ahm'),
 ('Baba', 98, 'Bhopal'),
 ('Rani', 78, 'Hyderabad'),
 ('Abani', 44, 'Patna')]

In [94]:
sorted_students = sorted(students,key = lambda x:x[2],reverse= True)
sorted_students

[('Abani', 44, 'Patna'),
 ('Rani', 78, 'Hyderabad'),
 ('Baba', 98, 'Bhopal'),
 ('Neha', 22, 'Ahm')]

In [99]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [115]:
marks = {
    "Bob":40,
    "Charlie":60,
    "Alice":80
}

In [116]:
sorted(marks)

['Alice', 'Bob', 'Charlie']

In [122]:
marks.keys()

dict_keys(['Bob', 'Charlie', 'Alice'])

In [123]:
marks.values()

dict_values([40, 60, 80])

In [124]:
marks.items()

dict_items([('Bob', 40), ('Charlie', 60), ('Alice', 80)])

In [130]:
sorted_marks = sorted(marks.items(), key = lambda x:x[1])
sorted_marks

[('Bob', 40), ('Charlie', 60), ('Alice', 80)]

In [133]:
models = [
    {"name":"Randonforest","accuracy":0.89},
    {"name":"SVM","accuracy":0.92},
    {"name":"SGboost","accuracy":0.85}
    
]
models

[{'name': 'Randonforest', 'accuracy': 0.89},
 {'name': 'SVM', 'accuracy': 0.92},
 {'name': 'SGboost', 'accuracy': 0.85}]

In [150]:
models[2]['accuracy']

0.85

In [142]:
sort_accuracy = sorted(models, key =lambda x:x['accuracy'],reverse = True)
sort_accuracy

[{'name': 'SVM', 'accuracy': 0.92},
 {'name': 'Randonforest', 'accuracy': 0.89},
 {'name': 'SGboost', 'accuracy': 0.85}]

In [152]:
sort_accuracy = sorted(models, key =lambda x:x['accuracy'],reverse = True)
sort_accuracy

[{'name': 'SVM', 'accuracy': 0.92},
 {'name': 'Randonforest', 'accuracy': 0.89},
 {'name': 'SGboost', 'accuracy': 0.85}]