In [2]:
#Sum of two numbers
def add(a,b):
    return a+b

In [5]:
addition = add(5,3)
addition

8

In [7]:
y = lambda a, b : a+b

In [8]:
y

In [9]:
type(y)

function

In [ ]:
addition = lambda a, b : a+b
addition (5,3)
addition (5.0,9.0)

NameError: name 'a' is not defined

In [ ]:
#Lambda with one argument
#square of a number
sqr = lambda x: x**2
sqr(9)

81

In [ ]:
#modulus of a number
mod = lambda c:c%2
mod(27)

1

In [ ]:
#Floor division
floor = lambda x:x//3
floor (53)

17

In [23]:
floor1 = lambda x:x//5
floor1 (53)

10

In [ ]:
#Lambda with multiple arguments
Area = lambda length, breadth: length*breadth
Area(3,9)

27

In [25]:
Volume = lambda x,y,z: x*y*z
Volume(3,6,9)

162

In [27]:
Perimeter = lambda a,b:2*a+2*b
Perimeter(4,9)

26

In [32]:
# Conditions with lambda 
even_n = lambda x: "even" if x%2 ==0 else "odd"
even_n (91)

'odd'

In [34]:
to_upper = lambda s:s.upper()
to_upper("abani")

'ABANI'

In [35]:
to_lower = lambda s:s.lower()
to_lower("ABANI")

'abani'

In [38]:
def reversed_string(s):
    return s[::-1]
reversed_string("abani bhushan prasad")

'dasarp nahsuhb inaba'

In [39]:
reversed_string = lambda s : s[::-1]
reversed_string("abani bhushan prasad")

'dasarp nahsuhb inaba'

In [ ]:
#use lambda function with sequence datatype:List
cel =[10,20,30,40,50]
far =  list(map(lambda c : c*9/5+32,cel))
far

In [44]:
type(far)

map

In [ ]:
#use lambda function with sequence datatype:tuple
cel =(10,20,30,40,50)
far =  tuple(map(lambda c : c*9/5+32,cel))
far

(50.0, 68.0, 86.0, 104.0, 122.0)

In [47]:
type(far)

tuple

In [49]:
# square all numbers in the list
a = [3,4,7,2,9]
Sqr_a = list(map(lambda c: c**2,a))

In [50]:
Sqr_a

[9, 16, 49, 4, 81]

In [51]:
name = ['abani','bhushan','prasad']
upper_name = list(map(lambda x:x.upper,name))

In [52]:
upper_name

In [55]:
# Filter
#syntax:filter(function,iterable)
#find the even
no = [1,2,3,4,5,6]
even = list(filter(lambda x : x%2 ==0,no))
even

[2, 4, 6]

In [57]:
#syntax:filter(function,iterable)
#find the odd
no = [1,2,3,4,5,6]
odd = list(filter(lambda x : x % 2 !=0,no))
odd

[1, 3, 5]

In [62]:
#filter strings based on lenght more than 4
words = ["Data","science","AI","ML","Machind"]

string_4 =list(filter (lambda s : len(s)>4,words) )
string_4

['science', 'Machind']

In [63]:
#filter strings based on lenght less than 4
words = ["Data","science","AI","ML","Machind"]

string_4 =list(filter (lambda s : len(s)<4,words) )
string_4

['AI', 'ML']

In [64]:
#filter negative number from the list
no = [-9,3,-4,5,-8,4]
result = list(filter(lambda x : x<0,no))
result

[-9, -4, -8]

In [65]:
#filter positive number from the list
no = [-9,3,-4,5,-8,4]
result = list(filter(lambda x : x>0,no))
result

[3, 5, 4]

In [80]:
# give the score greater than 40
students = [
    {"name":"A","marks": 85},
    {"name":"B","marks" : 30},
    {"name":"c","marks" : 90}
]
students.values

AttributeError: 'list' object has no attribute 'values'

In [83]:
std = list(filter(lambda x :x["marks"]>40,students))
std

[{'name': 'A', 'marks': 85}, {'name': 'c', 'marks': 90}]

In [85]:
std = list(filter(lambda x :x["marks"]<40,students))
std

[{'name': 'B', 'marks': 30}]